body {
  background-color: #2e2e2e;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
}

main {
  width: 100%;
}

#control_panel {
  position: relative;
}

#world_map {
  width: 100%;
  height: calc(100vh - 72px);
}

#score_containers {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.score-container {
  width: 300px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.scorebar {
  height: 30px;
  width: 0%;
  background-color: black;
  text-align: center;
  color: white;
  line-height: 30px;
  border-radius: 10px 0 0 10px;
  transition: width 0.5s;
}

#carbon_bar {
  background-color: black;
}

#money_bar {
  background-color: green;
}

#research_bar {
  background-color: lightblue;
}

#toggle_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  background-color:white;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

#skill_tree {
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: cadetblue;
  display: flex;
  transition: right 0.5s ease-in-out;
  z-index: 5;
}

#skill_tree.open {
  right: 0;
}


#toggle_btn {
  left: -60px;
  cursor: pointer;
  z-index: 10;
}


footer {
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
